@font-face {
  font-family: "amnesty";
  src: url("../font/amnesty.woff?ver=1205") format("woff");
  font-weight: normal;
  font-style: normal
}

.siteicon {
  font-family: "amnesty";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none !important;
  transition: color .1s ease-in 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -1px
}

.siteicon-filter:before {
  content: "\e001"
}

.siteicon-print:before {
  content: "\e003"
}

.siteicon-logo:before {
  content: "\e000"
}

.siteicon-lock:before {
  content: "\e002"
}

.siteicon-lock-open:before {
  content: "\e004"
}

.siteicon-lock-outline:before {
  content: "\e005"
}

.siteicon-text-fields:before {
  content: "\e006"
}

.siteicon-cogs:before {
  content: "\e008"
}

.siteicon-phone:before {
  content: "\e007"
}

.siteicon-email:before {
  content: "\e009"
}

.siteicon-yellowid:before {
  content: "\e00d"
}